<!-- -->
<launch>

  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='role_name_1' default='uci_vehicle_1'/>
  <arg name='role_name_2' default='uci_vehicle_2'/>
  <arg name="vehicle_filter" default='vehicle.*'/>
  <arg name="spawn_point" default=""/>
  <arg name="town" default=''/>
  <arg name='synchronous_mode' default=''/>
  <arg name='synchronous_mode_wait_for_vehicle_control_command' default=''/>
  <arg name='fixed_delta_seconds' default=''/>

  <include file="$(find carla_ros_bridge)/launch/carla_ros_bridge.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='town' value='$(arg town)'/>
    <arg name='synchronous_mode' value='$(arg synchronous_mode)'/>
    <arg name='synchronous_mode_wait_for_vehicle_control_command' value='$(arg synchronous_mode_wait_for_vehicle_control_command)'/>
    <arg name='fixed_delta_seconds' value='$(arg fixed_delta_seconds)'/>
  </include>


  <group ns="$(arg role_name_1)">
    <include file="$(find carla_uci_vehicle)/launch/carla_example_uci_vehicle.launch">
      <arg name='host' value='$(arg host)'/>
      <arg name='port' value='$(arg port)'/>
      <arg name="vehicle_filter" value='$(arg vehicle_filter)'/>
      <arg name='role_name' value='$(arg role_name_1)'/>
      <arg name="spawn_point" value="$(arg spawn_point)"/>
    </include>

    <include file="$(find carla_manual_control)/launch/carla_manual_control.launch">
      <arg name='role_name' value='$(arg role_name_1)'/>
    </include>

    <include file="$(find era_gazebo)/launch/car.launch">
      <arg name="namespace" value="$(arg role_name_1)" />
      <arg name="initX" value="0" />
      <arg name="initY" value="-2" />
      <arg name="initZ" value="0" />
     </include>

     <include file="$(find era_gazebo)/launch/v2v.launch">
     	<arg name="robot_name" value="$(arg role_name_1)" />
     	<arg name="local_ip" value="127.0.0.1" />
		<arg name="remote_ip" value="127.0.0.1" />
		<arg name="local_port" value="52001" />
		<arg name="remote_port" value="52002" />
     </include>
  </group>

  <group ns="$(arg role_name_2)">
    <include file="$(find carla_uci_vehicle)/launch/carla_example_uci_vehicle.launch">
      <arg name='host' value='$(arg host)'/>
      <arg name='port' value='$(arg port)'/>
      <arg name="vehicle_filter" value='$(arg vehicle_filter)'/>
      <arg name='role_name' value='$(arg role_name_2)'/>
      <arg name="spawn_point" value="$(arg spawn_point)"/>
    </include>

    <include file="$(find carla_manual_control)/launch/carla_manual_control.launch">
      <arg name='role_name' value='$(arg role_name_2)'/>
    </include>

    <include file="$(find era_gazebo)/launch/car.launch">
      <arg name="namespace" value="$(arg role_name_2)" />
      <arg name="initX" value="1" />
      <arg name="initY" value="-2" />
      <arg name="initZ" value="0" />
     </include>

    <include file="$(find era_gazebo)/launch/v2v.launch">
     	<arg name="robot_name" value="$(arg role_name_2)" />
     	<arg name="local_ip" value="127.0.0.1" />
		<arg name="remote_ip" value="127.0.0.1" />
		<arg name="local_port" value="52002" />
		<arg name="remote_port" value="52001" />
    </include>
  </group>

  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find era_gazebo)/rviz/carla_era.rviz" output="screen" /-->

</launch>
