<!-- -->
<launch>

  <arg name="namespace" default="uci_vehicle_1" />

  <param name="tf_prefix" value="$(arg namespace)"/>

  <include file="$(find era_gazebo)/vehicle_description/launch/prius.launch">
  </include>

  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find era_gazebo)/launch/$(arg namespace)_costmap_2d.yaml" command="load" ns="costmap" />
    <remap from="costmap_node/costmap/costmap" to="local_map"/>
  </node>


</launch>
